* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    box-shadow: 0 10px 20px black;
    align-items: center;
}

.container img {
    height:100px;
    width:100px;
    border-radius: 50%;
}



